$font_black        : #121212;
$font_blue1        : #008fbb;
$font_white        : #f3f3f3;
$bg_black           : #121212;
$bg_lightgray       : #EEEEEE; //#edecece0
$bg_white          : #f3f3f3;
$bg_menu_lightblue1: #d6f2f7;
$bg_menu_lightblue2: #c3ecf7;
$bg_menu_lightblue3: #e2f4f8;
$bg_blue1          : #1d99be;